# Node
TZ=UTC
PORT=3000
HOST=0.0.0.0
NODE_ENV=development

# App
APP_NAME=loyal-api
LOG_LEVEL=info
APP_KEY=generate-with-node-ace-generate-key
APP_URL=http://${HOST}:${PORT}

# Database
DATABASE_URL=postgresql://loyal:loyal@127.0.0.1:5433/loyal_development

# Session
SESSION_DRIVER=cookie

# Integrations
FRONTEND_URL=http://localhost:3001
NFC_SERVICE_URL=http://127.0.0.1:5000
